{% extends 'eBedTrack/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Emergency Bed Tracking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

     <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Check the availability of Beds in various Hospitals here
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2 style="padding-left: 15Px">Hospital Beds Information</h2>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Hospital Name</th>
                <th style="text-align: center">Total number of Beds available</th>
                <th style="text-align: center">View Details</th>
            </tr>
            </thead>
            <tbody>
            {% for k,v  in  hospitals.items %}
                <tr>
                    <td>{{ k }}</td>
                    <td style="text-align: center">{{ v|length }} </td>
                    <td>
                        <table class ="data" style="text-align:left">
                            <tr>
                                {% cycle i in v|length %}
                                <td style="text-align: center">BED Type: {{ i.bedtype }} count : {{ v.i }}</td><br>
                                {% empty %}
                            <tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
