{% extends 'eBedTrack/base.html' %}

{% block content %}


    <div class="row">
        <h2 style="padding-left: 15Px">Hospital Beds Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Hospital Name</th>
                <th style="text-align: center">Total number of Beds available</th>
                <th style="text-align: center">View Details</th>
            </tr>
            </thead>
            <tbody>
            {% for k,v  in  .items %}
                <tr>
                    <td>{{ k }}</td>
                    <td style="text-align: center">{{ v }} </td>
                    <td id="det" style="text-align: center">
                        <!--<button class="btn btn-info" onclick ="myFunction()" >View details</button>-->
                        <table id="details" style="display: none; text-align: left; margin-left: 40px">
                        <tr>
                            <td>AD ICU/CC: 3 &nbsp;&nbsp;&nbsp;</td>
                            <td>ER: 4&nbsp;&nbsp;&nbsp;</td>
                            <td>Med/Surg: 40&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>OB: 3&nbsp;&nbsp;&nbsp;</td>
                            <td>SICU: 2&nbsp;&nbsp;&nbsp;</td>
                            <td>Neg Pres/ISO: 5&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>OR: 7&nbsp;&nbsp;&nbsp;</td>
                            <td>Peds: 2&nbsp;&nbsp;&nbsp;</td>
                            <td>PICU: 4&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>NICU: 4&nbsp;&nbsp;&nbsp;</td>
                            <td>Burn: 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>Mental Health: 12&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Others: 10</td>
                        </tr>
                    </table>
<button class="btn btn-info">View Details</button>

                    </td>

            {% endfor %}

                </tr>
            </tbody>
        </table>
    </div>


<script>

$("button").click(function (e) {
    $("#details").show();
    e.stopPropagation();
});
$(document).click(function() {
    $("#details").hide();
});

</script>



{% endblock %}