{% extends 'eBedTrack/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Emergency Bed Tracking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

     <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-10 col-md-offset-1">-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">Welcome!</div>-->
                    <!--<div class="panel-body">-->
                        <!--Check the availability of Beds in various Hospitals here-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<h2>Check the availability of Beds in various Hospitals here</h2>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
</head>

     <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary" style="margin-top: 20px">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Check the availability of Beds in various Hospitals here
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="width: 1500px">
        <div class="col-md-6">
        <h2 style="padding-left: 15Px">Hospital Beds Information</h2>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-info">
                    <th>Hospital Name</th>
                    <th style="text-align: center">Total number of Beds available</th>
                    <th style="text-align: center">View Details</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in hospitals.items %}
                <tr>
                <td>{{ k }}</td>
                <td style="text-align: center">{{ v|length }} </td>
                 <td>
                <table class ="data" style="text-align:left">
                <tr>
                {% for i in v|length %}
                <p>BED Type: {{ v.i }} count : {{ v.i }}</p>
                <tr>
                {% endfor %}
                </table>
                </td>
                </tr>
{% endfor %}
</tbody>
</table>
    </div>
            </div></div>



        <!--<div class="col-md-4">-->
        <!--<table class="data" id="details" style="display: none; text-align: left; margin-left: 20px; margin-top: 30%; border: medium; background-color: white; padding: 20px">-->
                            <!--{% for b,f in pdict.items %}-->
                            <!--<tr>-->
                                <!--<td>{{ b }} : {{ f }}</td>-->
                                <!--<td>&nbsp;&nbsp;AD ICU/CC: &nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>ER: 4&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>Med/Surg: 40&nbsp;&nbsp;&nbsp;</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>&nbsp;&nbsp;OB: 3&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>SICU: 2&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>Neg Pres/ISO: 5&nbsp;&nbsp;&nbsp;</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>&nbsp;&nbsp;OR: 7&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>Peds: 2&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>PICU: 4&nbsp;&nbsp;&nbsp;</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>&nbsp;&nbsp;NICU: 4&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>Burn: 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>-->
                                <!--<td>Mental Health: 12&nbsp;&nbsp;&nbsp;</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>&nbsp;&nbsp;Others: 10</td>-->
                            <!--</tr>-->
                            <!--{% endfor %}-->

                        <!--</table>-->
            <!--</div>-->



    <!--</div>-->




<!--//At the click of view details show additional bed types and availability for the hospital clicked-->

<!--<script>-->

<!--$("button").click(function (e) {-->
    <!--$("#details").show();-->
    <!--e.stopPropagation();-->
<!--});-->
<!--$(document).click(function() {-->
    <!--$("#details").hide();-->
<!--});-->

<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--<script>-->

<!--//var view_details = document.getElementsByClassName('btn btn-info');-->
<!--var view_details = $('.viewButton');-->
<!--n = 0;-->
<!--while (n > 0) {-->
    <!--view_details.on('click', function () {-->
   <!--// view_details[n].onclick = function details(){-->
    <!--alert("inside function")-->
    <!--var table = document.getElementById('details');-->

    <!--if (table.style.display !== 'none')-->
    <!--{-->
        <!--table.style.display = 'none';-->
        <!--view_details.innerHTML = 'View details'-->
    <!--}-->
    <!--else {-->
        <!--table.style.display = 'inline-table';-->
        <!--// change button text-->
        <!--view_details.innerHTML = 'Hide details'-->
    <!--}-->
<!--}-->
 <!--//n=n++;-->
 <!--n+=1;-->
<!--}-->
<!--&lt;!&ndash;$(document).ready(function() {&ndash;&gt;-->
    <!--&lt;!&ndash;$("#view").click(function() {&ndash;&gt;-->
        <!--&lt;!&ndash;alert(hello)&ndash;&gt;-->
       <!--&lt;!&ndash;$("#details").toggle();&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->
<!--&lt;!&ndash;});&ndash;&gt;-->
<!--</script>-->

{% endblock %}
