{% extends 'eBedTrack/base.html' %}

{% block content %}

        <meta charset="UTF-8">
        <title>Emergency Bed Tracking System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">




     <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Emergency Bed Tracking : PRESS REPORT as on Today
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Press Report</h2>
    </div>
    <div>
        <input style="width: 100%; color: transparent" type="text" id="myInput"
               onkeyup="myFunction()" placeholder="Search for hospital.." title="Type in a name">

        <table id="myTable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">

                <th style="width:60%;">Hospital Name</th>
                <th style="width:40%; text-align: center">Patient Count</th>

            </tr>
            </thead>
            <tbody>
            {% for k,v  in hospitals.items %}
                <tr>
                    <td>{{ k }}</td>
                    <td style="text-align: center">{{ v }} </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function myFunction() {
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>



{% endblock %}