{% extends 'eBedTrack/base.html' %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Emergency Bed Tracking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <table class="table table-bordered table-condensed" style="text-align: center; margin-left: 10px">
        <tr>
            <th style="text-align: center">Bed Type</th>
            <th style="text-align: center">Number of Beds Available</th>
        </tr>
        {% for bed_type in bed.items %}
        <tr><td>AD ICU/CC </td> <td> {{ f }} </td></tr>
        <tr><td>ER</td> <td>1</td></tr>
        <tr><td>Med/Surg</td> <td>1</td></tr>
        <tr><td>OB</td> <td>3</td></tr>
        <tr><td>SICU</td> <td> 2</td></tr>
        <tr><td>Neg Pres/ISO</td> <td>2</td></tr>
        <tr><td>OR</td> <td> 1</td></tr>
        <tr><td>Peds</td> <td> 2</td></tr>
        <tr><td>PICU</td> <td> 1</td></tr>
        <tr><td>NICU</td> <td> 1</td></tr>
        <tr><td>Burn</td> <td> 2</td></tr>
        <tr><td>Mental Health</td> <td> 2</td></tr>
        <tr><td>Others</td> <td> 3</td></tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}